# Database
DATABASE_URL="mysql://root:fmf_password@localhost:3306/fmf_db"

# NextAuth
NEXTAUTH_URL="https://portal.freemindfoundation.org.in"
NEXTAUTH_SECRET="generate-a-strong-secret-key-using-openssl-rand-base64-32"

# Email Provider (brevo | resend)
EMAIL_PROVIDER="brevo"
EMAIL_API_KEY=""
EMAIL_FROM="no-reply@freemindfoundation.org.in"
EMAIL_FROM_NAME="Free Mind Foundation"

# App
NEXT_PUBLIC_APP_NAME="Free Mind Foundation Management"
NEXT_PUBLIC_APP_URL="https://portal.freemindfoundation.org.in"

