# Database
DATABASE_URL="mysql://root:@localhost:3306/fmf_db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Email Provider (brevo | resend)
EMAIL_PROVIDER="brevo"
EMAIL_API_KEY=""
EMAIL_FROM="no-reply@freemindfoundation.org.in"
EMAIL_FROM_NAME="Free Mind Foundation"

# App
NEXT_PUBLIC_APP_NAME="FMF Trust Management"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
